<h2>ストレスを吐き出す</h2>

<%= form_with model:@stress, url:stresses_path, local:true do |f| %>
<h4>タイトル</h4>
<div class="form-word">
  <%= f.text_field :title %>  
</div>
<h4>本文</h4>
<div class="form-word"> 
  <%= f.text_area :body %>
</div>
<%= f.submit "投稿する" %>
<% end %>