<% if stress.favorited_by?(current_user) %>
  <div>
    <%= link_to stress_favorites_path(stress), method: :delete, remote: true do %>
      <i class="fa fa-heart favorite-btn" aria-hidden="true" style="color: red;"></i>
    <% end %>
    <%= stress.favorites.count %> いいね
  </div>
<% else %>
  <div>
    <%= link_to stress_favorites_path(stress), method: :post, remote: true do%>
      <i class="fa fa-heart-o favorite-btn" aria-hidden="true"></i>
    <% end %>
    <%= stress.favorites.count %> いいね
  </div>
<% end %>