<div class="relation-title">
  <h2>自分をフォロー中のユーザー</h2>
</div>

<% if @users.exists? %>
  <table class="table table-bordered relation-table" style="width: 30%;">
    <thead>
      <tr>
        <th>写真</th>
        <th>ニックネーム</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 200, 200, format: 'jpg', class:"profile-picture", fallback: "smiley-54e9d24a4b_640.jpg" %></td>
          <td><%= link_to user.name, user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-user">
    <p>自分をフォロー中のユーザーはいません</p>
  </div>
  <div class="no-user-picture">
    <%= image_tag("sayhello.jpg") %>
  </div>
<% end %>

<div class="paginate">
  <%= paginate @users %>
</div>
