<h2>User一覧</h2>

<table>
 <thead>
   <tr>
     <th><h4>写真</h4></th>
     <th><h4>ユーザー名</h4></th>
   </tr>
 </thead>
<% @users.each do |user| %>
　<tbody>
   <tr>
     <td></td>
     <td><%= user.name %></td>
   </tr>
　</tbody>
</table>
<% end %>