<div class="top-picture" >
  <img src="/morning-54e2d3474a_640.jpg">
</div>

<div class="top-container">
  <h1 style="margin-bottom: 100px"><span style="font-size: 60px">「ストレス」</span>を<span style="font-size: 60px">「幸せ」</span>に</h1>
  <h4 class="top-message">
    突然ですが、質問です。 「ストレスは体に良いと思いますか?　それとも悪いと思いますか?」<br>
    <br>
    もちろん答えは1つではないですが、海外の大学の研究では、<br>
    「ストレスを体に良いと思う人にとっては、ストレスは体に良い」<br>
    「ストレスを体に悪いと思う人にとっては、ストレスは体に悪い」<br>
    という研究結果が出ています。<br>
    <br>
    <span style="font-size: 30px">
    このアプリは、ストレスの捉え方を変え、<br>
    ユーザーの幸せをふやすことを目指しています。</span>
  </h4>

  <h1>
    <span style="font-size: 60px">SHappy</span>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="about">
        <h4>
          ストレスを吐き出す
        </h4>
        <p>
          test
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="about">
        <h4>
          ストレスを発散する
        </h4>
        <p>
          test
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="about">
        <h4>
          フォロー
        </h4>
        <p>
          test
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="about">
        <h4>
          いいね、コメント
        </h4>
        <p>
          test
        </p>
      </div>
    </div>
  </div>
</div>






