<div class="inquiry-container">
  <div class="inquiry-head">
    <h1>送信完了</h1>
  </div>
    <p class="thanks-text">
      お問い合わせいただきありがとうございました!
    </p>
  <div class="inquiry-picture">
    <%= image_tag("thank-you-55e6dc434b_640.jpg") %>
  </div>
  <%= link_to "Topページに戻る", root_path, class:"thanks-text" %>
</div>
