// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-top {
  font-size: 30px;
  margin: 30px 0 40px 250px;
}

.notification-picture {
  text-align: center;
  margin-top: 70px;
}

.notification-container {
  background-color: #003366;
  padding: 50px 0;
  display: block;
  width: 70%;
  margin: 20px auto 0;
  border-radius: 20px;
}

.notification-table {
  margin: 0 auto 50px;
}

.no-notification {
  text-align: center;
}