// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-top {
  font-size: 30px;
  margin: 30px 0 40px 200px;
}

.notification-container {
  margin-top: 20px;
  text-align: center;
}

.notification-table {
  margin: 0 auto;
}