// Place all the styles related to the releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.release-picture {
  text-align: center;
}

.release-picture > img {
  height: 100%;
  width: 100%;
}

//ストレス発散ページ
.stress-container {
  text-align: center;
}

.release-top {
  font-size: 40px;
  margin: 100px 0 70px;
}

//ストレス発散画像
.release-stress-picture{
  width: 280px;
  height: 200px;
  display: block;
  margin-bottom: 70px;
}

.bottom-picture {
  margin: 0 auto 70px;
}

