// Place all the styles related to the stresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//stressの一番上の画像
.top-index-picture {
  text-align: center;
  margin: 50px 0;
}

.top-index-image {
  width: 45%;
  height: 45%;
  padding: 50px;
  background-color: #003366;
  border-radius: 20px;
}

//サイドバー 上部の写真
.stress-index-picture {
  text-align: center;
}

.stress-index-picture > img {
  width: 80%;
  height: 200px;
  opacity: 0.95;
  margin: 40px 0 20px;
}

//サイドバーのレイアウト
.sidebar {
  margin-left: 20px;
}

.sidebar-table {
  margin-top: 20px;
}

.past-stress {
  padding-top: 15px;
  margin-bottom: 20px;
}

// ストレス投稿ページ
.stress-new-container {
  margin-left: 200px;
}

.new-title {
  margin: 50px 0 30px;
}

.title-form {
  width: 250px;
}

.content-form {
  width: 400px;
  height: 150px;
}

.new-submit {
  margin-top: 20px;
  margin-left: 330px;
  background-color: green;
}

.new-file {
  margin-top: 10px;
}

.new-picture {
  text-align: center;
}

.scream-picture {
  width: 30%;
  height: 30%;
  margin: 50px;
}

.new-stress-form {
  margin-left: 450px;
}

// ストレス詳細ページ
.comment-submit {
  background-color: green;
}

// ストレス編集ページ
.stress-edit-container {
  margin-left: 200px;
}

.stress-edit-title {
  margin: 50px 0 30px;
}

.edit-submit {
  background-color: green;
  margin-left: 330px;
}

.edit-picture {
  text-align: center;
}

.think-picture {
  width: 30%;
  height: 30%;
  margin: 50px;
}

.edit-stress-form {
  margin-left: 450px;
}

// ストレス発散ページ
.stress-container {
  text-align: center;
}

.release-top {
  font-size: 40px;
  margin: 100px 0 70px;
}

.stress-message {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  background-color: #003366;
  padding-top: 30px;
  border-radius: 20px;
  margin-bottom: 70px;
}

.release-way {
  font-size: 25px;
  background-color: #003366;
  display: inline-block;
  margin-bottom: 10px;
}

.release-picture-top {
  width: 280px;
  height: 200px;
  display: block;
  margin-bottom: 70px;
}