// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage {
  margin: 30px 0 0 130px;
  font-size: 35px;
  display: inline-block;
  background-color: #003366;
}

// マイページの一番上の画像
.mypage-top {
  text-align: center;
  margin: 50px 0;
}

.mypage-picture {
  width: 550px;
  height: 300px;
}

.profile-table {
  text-align: center;
}

.edit-link {
  text-align: center;
}

// プロフィール画像編集
.profile-picture {
  width: 150px;
  height: 120px;
}

// マイページ編集ページ
.edit-user-container {
  margin-left: 130px;
}

.edit-mypage {
  margin-bottom: 30px;
}

.user-edit-file {
  margin: 10px 0 30px;
}

.edit-profile-submit {
  background-color: green;
  margin-left: 170px;
}

//Userのindexページ
.user-index-container {
  margin-left: 130px;
}

.all-users {
  margin-bottom: 30px;
}