// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// プロフィール画像編集
.profile-picture {
  width: 150px;
  height: 120px;
}

//他のユーザーを探す
.user-find {
  font-size: 20px;
  background-color: #003366;
  margin-bottom: 40px;
}