<h2 class="release-stress-message">買ってストレスを発散</h2>

<div class="way-picture" >
  <img src="/photo-1534452203293-494d7ddbf7e0.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  欲しかった物を思い切って買う行為には、快感が伴います。この時、脳では幸福ホルモンである<br>
  ドーパミンが放出されます。そのため、衝動買いは脳にとって栄養ドリンクのような役割を果たしています。
  </h4>
  <h4 style="padding-bottom: 10px">
  ここで気を付けなければならないのは、「衝動買い」と「買い物中毒」は全く異なる物だということです。何かの<br>
  ご褒美や、ストレスによる自分への活力として、欲しかった物を思い切って買うことは、脳科学的には問題ないそうで<br>
  すが、何の理由もなく買い続けてしまったり、買っただけで満足してしまうことは、注意が必要です。
  </h4>
  <h4 style="padding-bottom: 10px">
  せっかくお金を使ったのに、ネガティブな気持ちになってしまうのは、もったいないです。ストレスで衝動買いをした<br>
  際には、「理性が足りなくて情けない」などと責めたりせず、むしろ脳に元気を与えたとポジティブに捉えましょう!
  </h4>
</div>

<h1 class="release-stress-title">買ってストレスを発散するためのサイト</h1>

<div class="site-background">
   <h4 class="site-name">①</h4>

    <div class="company-picture-container">
      <img src="/uber.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        2016年に日本でサービスを開始し、今では日本でも<br>
        とても身近なフードデリバリーサービスとなっています。</p>
      <p style="padding-bottom:10px;">
        アプリで簡単に料理の注文ができることから、<br>
        手軽に食事を楽しめる手段として、利用者が急増しています。
      </p>
      <p style="padding-bottom:10px;">
        Uber Eatsの利用はアプリだけで完結するので、<br>
        タップとスクロールで気になった料理を見つけ、<br>
        カートに追加して注文を決定するだけでOKです。<br>
      </p>
      <p style="padding-bottom:10px;">
        支払いは登録したカードからとなるため、<br>
        受け取るときに現金がいらないのも魅力です。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

<div class="site-background">
   <h4 class="site-name">②</h4>

    <div class="company-picture-container">
      <img src="/tabelog.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        食べログは「失敗しないお店選び」をコンセプトにした、<br>
        月間約9,283万人以上が利用する日本最大級のグルメサイトです。<br>
        ネットでお店探しをする際に起こりがちな「想像とは違うお店だった」<br>
        というような失敗をなくすためユーザーの口コミと共にお店を掲載しています。
      </p>
      <p style="padding-bottom:10px;">
        実際にお店に行ったユーザーのリアルな口コミを多数掲載しています。<br>
        人の味覚は十人十色であり、お店の評価は賛否両論あって当然のため、<br>
        どちらの意見も掲載することで、よりお店選びの参考にすることができます。<br>
      </p>
      <p style="padding-bottom:10px;">
        また、食べログには子供可、ペット可などこだわりの条件での絞り込み機能が<br>
        たくさんあります。ランキングだけでなく、口コミ数順、ニューオープンなど<br>
        いろいろな並び順で探すことで、これまで知らなかったお店との出会いも広がります。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

<div class="site-background">
   <h4 class="site-name">③</h4>

    <div class="company-picture-container">
      <img src="/cook.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        クックパッドは、料理のレシピを投稿・検索を中心とした<br>
        日本最大の料理サイトです。<br>
        100万品を超えるレシピの中から、自分に合った美味しそうな料理を<br>
        見つけるということが可能になっています。
      </p>
      <p style="padding-bottom:10px;">
        反対に、自分が料理を作った際に、<br>
        「このレシピで、こんなに美味しい料理ができたよ」<br>
        という発信者になることも可能です。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

  <div class="site-background">
   <h4 class="site-name">④ </h4>

    <div class="company-picture-container">
      <img src="/ikkyu.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        一休.comはラグジュアリーホテル・高級旅館の予約、<br>
        厳選されたレストランの予約を、お得な料金や魅力的な<br>
        特典の付いたプランを通して行うことができます。
      </p>
      <p style="padding-bottom:10px;">
        一休.comに掲載しているホテル、旅館、レストランなどは、<br>
        一休.com独自の基準をクリアした厳選された施設のみとなってます。<br>
        そのため、日頃のストレスを、安心して発散することができます。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>