<h2 class="release-stress-container">買ってストレスを発散</h2>

<div class="way-picture" >
  <img src="/photo-1534452203293-494d7ddbf7e0.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  欲しかった物を思い切って買う行為には、快感が伴います。この時、脳では幸福ホルモンである<br>
  ドーパミンが放出されます。そのため、衝動買いは脳にとって栄養ドリンクのような役割を果たしています。
  </h4>
  <h4 style="padding-bottom: 10px">
  ここで気を付けなければならないのは、「衝動買い」と「買い物中毒」は全く異なる物だということです。何かの<br>
  ご褒美や、ストレスによる自分への活力として、欲しかった物を思い切って買うことは、脳科学的には問題ないそうで<br>
  すが、何の理由もなく買い続けてしまったり、買っただけで満足してしまうことは、注意が必要です。
  </h4>
  <h4 style="padding-bottom: 10px">
  せっかくお金を使ったのに、ネガティブな気持ちになってしまうのは、もったいないです。ストレスで衝動買いをした<br>
  際には、「理性が足りなくて情けない」などと責めたりせず、むしろ脳に元気を与えたとポジティブに捉えましょう!
  </h4>
</div>