<h2 class="release-stress-message">泣いてストレスを発散</h2>

<div class="way-picture" >
  <%= image_tag("photo-1516758354783-b4ad206b7337.jpg", class: "release-way-picture") %>
</div>

<div class="message-background">
  <h4 class="message-padding">
    近年、泣くことのストレス解消効果に注目が集まったことで、日本ではストレスケアの一環として<br>
    能動的に涙を流す「涙活」という活動まで生まれました。<br>
  </h4>
  <h4 class="message-padding">
    とはいえ、いきなりイベントなどに参加して、見ず知らずの人の前で涙を流すことには、抵抗があるという人も<br>
    多いでしょう。そんな人は、無理にイベントに参加をする必要はありません。重要なのは思いきり涙を流すということなので、
    自宅でひっそり、誰にも知られることなく涙を流すことも、立派な「涙活」と言えます。
  </h4>
  <h4 class="message-padding">
    このページでは、「涙活」として使えそうなサイトを<br>
    複数掲載してますので、ぜひ活用してみてください！
  </h4>
</div>

<h1 class="release-stress-title">泣いてストレスを発散するためのサイト</h1>
<div class="site-background">
  <h4 class="site-name">①様々な涙活の選択肢を提供『涙活公式』</h4>
  <div class="company-picture-container">
    <%= image_tag("ruikatsu.png", class: "company-picture") %>
  </div>
  <div class="site-intro">
    <p class="message-title">
      涙活の第一人者である寺井広樹が、一目をはばからず思いっきり<br>
      泣ける場所を作りたいと思い立ち、2013年1月から涙活をスタートさせました。
    </p>
    <p class="message-title">
      涙活用の書籍やCDの販売、曲の紹介や、<br>
      定期的にイベントなどを実施し、涙活の選択肢を<br>
      複数提供してくれているサイトになります。
    </p>
    <a href="https://www.ruikatsu.com/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">②涙腺が崩壊する程泣ける話が読める『泣ける話.com』</h4>
  <div class="company-picture-container">
    <%= image_tag("nakeru.jpg", class: "company-picture") %>
  </div>
  <div class="site-intro">
    <p class="message-title">
      泣ける話.comは、『思いっきり泣いて心のデトックス』<br>
      をスローガンに、泣ける話や感動する話を<br>
      まとめているサイトになります。
    </p>
    <p class="message-title">
      ジャンルによって分けられているため、自分に合った<br>
      テーマや、その時の気分によって、記事を探して見てください。
    </p>
    <a href="http://xn--08j5fr76p0yya.com/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>
