<h2 class="release-stress-message">泣いてストレスを発散</h2>

<div class="way-picture" >
  <img src="/photo-1516758354783-b4ad206b7337.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  近年、泣くことのストレス解消効果に注目が集まったことで、日本ではストレスケアの一環として<br>
  能動的に涙を流す「涙活」という活動まで生まれました。<br>
  </h4>
  <h4 style="padding-bottom: 10px">
  とはいえ、いきなりイベントなどに参加して、見ず知らずの人の前で涙を流すことには、抵抗があるという人も<br>
  多いでしょう。そんな人は、無理にイベントに参加をする必要はありません。重要なのは思いきり涙を流すということなので、
  自宅でひっそり、誰にも知られることなく涙を流すことも、立派な「涙活」と言えます。
  </h4>
  <h4 style="padding-bottom: 10px">
  このページでは、「涙活」として使えそうなサイトを<br>
  複数掲載してますので、ぜひ活用してみてください！
  </h4>
</div>

<h1 class="release-stress-title">泣いてストレスを発散するためのサイト</h1>
<div class="release-sites">
  <h4 class="site-name">①外食するのも辛い時に 『Uber Eats』</h4>

  <h4 class="site-name">②行ったことのないお店を見つけよう 『食べログ』</h4>

  <h4 class="site-name">③料理を作って気分転換 『クックパッド』</h4>

  <h4 class="site-name">④居酒屋グルメ情報に特化したサイト 『ヒトサラ』</h4>
</div>