<h2 class="release-stress-container">泣いてストレスを発散</h2>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  近年、泣くことのストレス解消効果に注目が集まったことで、日本ではストレスケアの一環として<br>
  能動的に涙を流す「涙活」という活動まで生まれました。<br>
  </h4>
  <h4 style="padding-bottom: 10px">
  とはいえ、いきなりイベントなどに参加して、見ず知らずの人の前で涙を流すことには、抵抗があるという人も<br>
  多いでしょう。そんな人は、無理にイベントに参加をする必要はありません。重要なのは思いきり涙を流すということなので、
  自宅でひっそり、誰にも知られることなく涙を流すことも、立派な「涙活」と言えます。
  </h4>
  <h4 style="padding-bottom: 10px">
  このページでは、「涙活」として使えそうなサイトを複数掲載してますので、ぜひ活用してみてください！
  </h4>
</div>