<h2>食べてストレスを発散</h2>

<div class="stress-message">
    ストレスと食事は、密接な関係があります。<br>
  空腹の状態では、ストレスを生み出しやすいコルチゾールやアドレナリンが分泌されることにより、<br>
  イライラとした感情が募りやすくなります。<br>
  食事を取ることによってこれらのホルモンの放出が緩和され、ストレスの発散に繋がります!<br>
  
    1点気をつけて頂きたいのは、偏食によって起こる栄養の偏りや、暴飲暴食を行った後に罪悪感を<br>
  抱くことは、ストレス解消にならず、反対にストレスを抱える原因になることもあります。<br>  
    
    他のストレス発散方法と組み合わせながら、効果的にストレスを発散しましょう！
</div>