<h2 class="release-stress-message">笑ってストレスを発散</h2>

<div class="way-picture" >
   <%= link_to image_tag("photo-1472162072942-cd5147eb3902.jpg", class:"release-stress-picture bottom-picture"), releases_laugh_path %>
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
    日常の中できわめてありふれた行為である「笑い」が私たちの心とカラダに与える影響について、<br>
    近年様々な研究が行われ、その効果が報告されています。
  </h4>
  <h4 style="padding-bottom: 10px">
    「笑い」には、免疫力を向上させ、身体的な健康に導く効果があると同時に、<br>
    楽しい笑いは思考を「無」にし、前頭葉から発せられる精神的ストレスホルモンを低下させる効果があるため、<br>
    精神的なストレスに対しても効果があるという結果が出ています。
  </h4>
  <h4 style="padding-bottom: 10px">
    また、精神的に落ち込んでいて、笑うことが難しい場合でも、作り笑顔でも効果が期待できるそうです。<br>
    日々の生活の中で、悲しいことや腹が立つことがあった時こそ、「笑顔になること」を意識することで<br>
    ストレスを軽減し心の安定を保つことができるかもしれません。
  </h4>
</div>

<h1 class="release-stress-title">笑ってストレスを発散するためのサイト</h1>
<div class="site-background">
  <h4 class="site-name">①お笑いネタストリーミングアプリ 『LoooL』</h4>
  <div class="company-picture-container">
    <img src="/loool.png" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      LoooLは“全ネタ”撮り下ろしの、お笑いネタストリーミング<br>
      アプリです。実力派芸人や、今は無名の芸人のネタを<br>
      探して見ることができます。
    </p>
    <p style="padding-bottom:10px;">
      セレクションや豊富な検索ルートが搭載されているため、<br>
      キーワード検索だけではなく、ジャンルや事務所から探すことが<br>
      できたり、再生画面から”関連動画”へと移動することもできます。
    </p>
    <p style="padding-bottom:10px;">
      また、お気に入りの芸人や、趣味の似た人をフォローすることで、<br>
      そこからさらに情報が入ってくるため、自分の好みにあった<br>
      芸人やネタに、簡単に出会うことができます。
    </p>
    <a href="https://loool.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">②多彩なエンタテイメントが楽しめる発信地『吉本興業』</h4>
  <div class="company-picture-container">
    <img src="/yoshimoto.jpeg" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      吉本興業は、全国各地でお笑い公演や海外からのショーの招聘、<br>
      ガールズイベントなど全国の劇場の公演を合わせると、<br>
      年間約１万回の様々なジャンルのイベントを制作しています。
    </p>
    <p style="padding-bottom:10px;">
      また、実際に劇場の公演に足を運んで、お笑いを堪能することも<br>
      できれば、テレビやネット配信されている多様なコンテンツを<br>
      通して、ご自宅でお笑いを楽しむこともできます。
    </p>
    <a href="https://www.yoshimoto.co.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">③隙間時間で、いつでも笑顔に『bokete』</h4>
  <div class="company-picture-container">
    <img src="/bokete.png" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      boketeは、日本中の人が画像とコメントを自由に投稿することが<br>
      でき、思わず笑ってしまうような投稿を見つけることができます。
    </p>
    <p style="padding-bottom:10px;">
      急上昇や人気、ジャンルなどから投稿を絞ることもできますし、<br>
      投稿に対して星をつけ、評価することも可能です。<br>
      すぐに笑いたい時や、短時間で笑うことができる手軽さも魅力の、<br>
      オススメのサイトです！
    </p>
    <a href="https://bokete.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

