<h2 class="release-stress-container">笑ってストレスを発散</h2>

<div class="way-picture" >
  <img src="/photo-1472162072942-cd5147eb3902.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  日常の中できわめてありふれた行為である「笑い」が私たちの心とカラダに与える影響について、<br>
  近年様々な研究が行われ、その効果が報告されています。
  </h4>
  <h4 style="padding-bottom: 10px">
  「笑い」には、免疫力を向上させ、身体的な健康に導く効果があると同時に、<br>
  楽しい笑いは思考を「無」にし、前頭葉から発せられる精神的ストレスホルモンを低下させる効果があるため、<br>
  精神的なストレスに対しても効果があるという結果が出ています。
  </h4>
  <h4 style="padding-bottom: 10px">
  また、精神的に落ち込んでいて、笑うことが難しい場合でも、作り笑顔でも効果が期待できるそうです。<br>
  日々の生活の中で、悲しいことや腹が立つことがあった時こそ、「笑顔になること」を意識することで<br>
  ストレスを軽減し心の安定を保つことができるかもしれません。
  </h4>
</div>