<h2 class="release-stress-container">音楽を聞いてストレスを発散</h2>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  人はストレスを受け続けると、自律神経が乱れてきます。自立神経には、心身を興奮させる交感神経と、<br>
  リラックスさせる副交感神経があり、この二つのバランスが崩れることで、「自律神経失調症」が引き起こされます。<br>
  そして原因として特に多いのが、ストレスにより交感神経が高まりすぎてしまっている状態です。
  </h4>
  <h4 style="padding-bottom: 10px">
  音楽には、そのような交感神経の高ぶりを抑える働きがあるため、音楽を聴くことで、心身がリラックスモードに<br>
  入り、自律神経のバランスを整えてくれる効果があるようです。
  </h4>
  <h4 style="padding-bottom: 10px">
  音楽でストレスを発散する際には、そのときに聴きたい音楽を聴くだけではなく、自分の感情や<br>
  気持ちに合わせた音楽を聴いてみましょう！<br>
  その時の感情と同質の曲を聴くことは、ストレス発散法として効果があります。
  </h4>
</div>