<h2 class="release-stress-message">音楽を聞いてストレスを発散</h2>

<div class="way-picture" >
  <img src="/pexels-photo-374703.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
    人はストレスを受け続けると、自律神経が乱れてきます。自立神経には、心身を興奮させる交感神経と、<br>
    リラックスさせる副交感神経があり、この二つのバランスが崩れることで、「自律神経失調症」が引き起こされます。<br>
    そして原因として特に多いのが、ストレスにより交感神経が高まりすぎてしまっている状態です。
  </h4>
  <h4 style="padding-bottom: 10px">
    音楽には、そのような交感神経の高ぶりを抑える働きがあるため、音楽を聴くことで、心身がリラックスモードに<br>
    入り、自律神経のバランスを整えてくれる効果があるようです。
  </h4>
  <h4 style="padding-bottom: 10px">
    音楽でストレスを発散する際には、そのときに聴きたい音楽を聴くだけではなく、自分の感情や<br>
    気持ちに合わせた音楽を聴いてみましょう！<br>
    その時の感情と同質の曲を聴くことは、ストレス発散法として効果があります。
  </h4>
</div>

<h1 class="release-stress-title">音楽をストレスを発散するためのサイト</h1>
<div class="site-background">
  <h4 class="site-name">①世界最大規模の楽曲数が聴き放題『AWA』</h4>
  <div class="company-picture-container">
    <img src="/awa.jpeg" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      AWAと他の音楽アプリとの１番の違いは、<br>
      AWAには、今流れている音楽を検索することができます！
    </p>
    <p style="padding-bottom:10px;">
      AWAのアプリに流れている曲を聴かせることで、その曲の曲名と<br>
      アーテイスト名を検索することができ、AWAでそのまま音楽を<br>
      聴くことができます！
    </p>
    <p style="padding-bottom:10px;">
      音楽を聴かせて曲を検索するアプリは他にもありますが、<br>
      音楽アプリにこの機能があり、そのまま音楽を聴いたり、<br>
      ダウンロードできるのはAWAだけです！
    </p>
    <a href="https://awa.fm/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">② 全世界で最も多くのユーザーが使っている『spotify』</h4>
  <div class="company-picture-container">
    <img src="/spotify.png" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      Spotifyは世界2億3000万人以上の音楽ファンに支持されている、<br>
      ストリーミングサービスです。<br>
      5000万曲の配信曲と30億以上あるプレイリストをずっと無料で楽しめます。
    </p>
    <p style="padding-bottom:10px;">
      また、スマホやタブレット、PCのアプリ、ブラウザ、そして<br>
      PS4のようなゲーム機など、幅広い環境で楽しむことができるなど、<br>
      幅広い用途で活用することができます。
    </p>
    <a href="https://www.spotify.com/jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">③Apple製品との相性が抜群『Apple music』</h4>
  <div class="company-picture-container">
    <img src="/apple-music.jpeg" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      Apple Musicは、Appleがリリースしている音楽アプリだけ<br>
      あって、iPhoneやMac、iPod、iPodなどのApple製品との<br>
      相性がとてもいいです！<br>
    </p>
    <p style="padding-bottom:10px;">
      Apple製品であれば、すべてのデバイスで<br>
      Apple Musicから音楽が聴けますし、不具合や操作不良<br>
      などが起きずらいのも相性がいいポイントです！
    </p>
    <p style="padding-bottom:10px;">
      また、音楽だけでなくミュージックビデオを視聴できたり、<br>
      歌詞から曲を検索することができるなど、便利な機能が<br>
      複数あります。
    </p>
    <a href="https://www.apple.com/jp/apple-music/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>