<h2 class="release-stress-message">旅行をしてストレスを発散</h2>

<div class="way-picture" >
  <%= link_to image_tag("80652197.jpg", class:"release-stress-picture bottom-picture"), releases_laugh_path %>
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
    時として、旅行中の天候悪化や予期せぬアクシデント、期待を下回るサービスなどネガティブ要素は<br>
    あるものの、旅行の醍醐味である日常からの解放、趣味の満喫、自由な活動、非日常の体験など、<br>
    旅行で得られる体験の多くは心身にとってプラスの影響を与えてくれるでしょう。
  </h4>
  <h4 style="padding-bottom: 10px">
    さらに旅行中はもちろんですが、旅行に行くための計画を練っているときのワクワク感が、ストレス解消に<br>
    つながるとも考えられています。
  </h4>
  <h4>
    旅行先の景色や食事、観光スポット、宿などを調べながらスケジュールを組んで想像を掻き立ててというように、<br>
    好奇心や冒険心を抱くことも、ストレスの発散に効果があると考えられています。
  </h4>
</div>

<h1 class="release-stress-title">旅行をしてストレスを発散するためのサイト</h1>
<div class="site-background">
  <h4 class="site-name">①日本の旅行業界を牽引し続けてきた『JTB』</h4>
  <div class="company-picture-container">
    <img src="/jtb.png" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      創業当初は、海外から日本への観光客を誘致する<br>
      事業が中心でした。<br>
      その後、国内旅行を取り扱いはじめ、日本全体の高度経済<br>
      成長と共に飛躍的な成長を遂げてきました。
    </p>
    <p style="padding-bottom:10px;">
      その裏にあるJTBのもっとも大きな強みは、<br>
      日本全国に広がる販売店ネットワークと、<br>
      現地旅行手配を行う海外店舗のネットワークです。
    </p>
    <p style="padding-bottom:10px;">
      旅行業界には多くのIT業界が参入してますが、<br>
      JTBももちろんITを活用しています。<br>
      その上で、オフラインでの機能を充実させることで、<br>
      優位性を築いてます!
    </p>
    <a href="https://www.jtb.co.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">② H.I.S.が運営する格安航空券に特化『Surprice』</h4>
  <div class="company-picture-container">
    <img src="/surorice.jpeg" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      HISが運営するサプライスの海外航空券は、全商品取扱料金が0円<br>
      のため、総額で比べると、ダンゼンお得に購入できます。
    </p>
    <p style="padding-bottom:10px;">
      また、ホテルと航空券を同時予約すると、ホテルは最大99%OFFに<br>
      なったり、お得な割引クーポンやセール、キャッシュバックなど、<br>
      とにかく安く手配するなら、ぴったりのサイトです。
    </p>
    <a href="https://www.surpricenow.com/about/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">③国内最大級の旅行予約サイト『じゃらん』</h4>
  <div class="company-picture-container">
    <img src="/jaran.png" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      じゃらんは全国の宿・ホテルの中から、<br>
      自分好みの宿・ホテル、オリジナルプランを予約できます。
    </p>
    <p style="padding-bottom:10px;">
      旬のイチオシ特集をはじめ、旅行者のクチコミ情報を<br>
      元にした「宿ランキング」や、宿泊と交通<br>
      （飛行機・新幹線・特急）を自由に組み合わせて予約できる<br>
      「じゃらんパック」など、コンテンツが充実しています。
    </p>
    <p style="padding-bottom:10px;">
      無料の会員登録をすると2％ポイント還元されたり、<br>
      通常価格よりお得な会員限定プランを利用できるのも特徴です。
    </p>
    <a href="https://www.jalan.net/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">④世界で最も大きな民泊仲介サイト『airbnb』</h4>
  <div class="company-picture-container">
    <img src="/airbnb.jpeg" class="company-picture">
  </div>
  <div class="site-intro">
    <p style="padding-bottom:10px;">
      自宅の個室3LDKの1部屋や、別荘や一戸建ての物件などは<br>
      もちろんこと、お城やツリーハウス、クルーザーなど、<br>
      ホテルでは絶対にできない宿泊体験ができます。
    </p>
    <p style="padding-bottom:10px;">
      また、シェアルームと個室タイプは、ホストと一緒に<br>
      滞在することになるため、滞在先の生活に溶け込むかのような<br>
      宿泊体験ができます。<br>
　　　ホストと一緒にご飯を食べたり、近くの観光スポットを<br>
　　　案内してくれたりと、今までとは少し違う旅行ができます。
    </p>
    <a href="https://www.airbnb.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>
