<h2 class="release-stress-message">旅行をしてストレスを発散</h2>

<div class="way-picture" >
  <img src="/80652197.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  時として、旅行中の天候悪化や予期せぬアクシデント、期待を下回るサービスなどネガティブ要素は<br>
  あるものの、旅行の醍醐味である日常からの解放、趣味の満喫、自由な活動、非日常の体験など、<br>
  旅行で得られる体験の多くは心身にとってプラスの影響を与えてくれるでしょう。
  </h4>
  <h4 style="padding-bottom: 10px">
  さらに旅行中はもちろんですが、旅行に行くための計画を練っているときのワクワク感が、ストレス解消に<br>
  つながるとも考えられています。
  </h4>
  <h4>
  旅行先の景色や食事、観光スポット、宿などを調べながらスケジュールを組んで想像を掻き立ててというように、<br>
  好奇心や冒険心を抱くことも、ストレスの発散に効果があると考えられています。
  </h4>
</div>

<h1 class="release-stress-title">旅行をしてストレスを発散するためのサイト</h1><div class="release-sites">
  <div class="site-background">
   <h4 class="site-name">①世界最大規模の楽曲数が聴き放題『AWA』</h4>

    <div class="company-picture-container">
      <img src="/jtb.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        AWAと他の音楽アプリとの１番の違いは、<br>
        AWAには、今流れている音楽を検索することができます！
      </p>
      <p style="padding-bottom:10px;">
        AWAのアプリに流れている曲を聴かせることで、その曲の曲名と<br>
        アーテイスト名を検索することができ、AWAでそのまま音楽を<br>
        聴くことができます！
      </p>
      <p style="padding-bottom:10px;">
        音楽を聴かせて曲を検索するアプリは他にもありますが、<br>
        音楽アプリにこの機能があり、そのまま音楽を聴いたり、<br>
        ダウンロードできるのはAWAだけです！
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

<div class="site-background">
   <h4 class="site-name">② 全世界で最も多くのユーザーが使っている『spotify』</h4>

    <div class="company-picture-container">
      <img src="/surorice.jpeg" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        Spotifyは世界2億3000万人以上の音楽ファンに支持されている、<br>
        ストリーミングサービスです。<br>
        5000万曲の配信曲と30億以上あるプレイリストをずっと無料で楽しめます。
      </p>
      <p style="padding-bottom:10px;">
        また、スマホやタブレット、PCのアプリ、ブラウザ、そして<br>
        PS4のようなゲーム機など、幅広い環境で楽しむことができるなど、<br>
        幅広い用途で活用することができます。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

<div class="site-background">
   <h4 class="site-name">③Apple製品との相性が抜群『Apple music』</h4>

    <div class="company-picture-container">
      <img src="/jaran.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        Apple Musicは、Appleがリリースしている音楽アプリだけ<br>
        あって、iPhoneやMac、iPod、iPodなどのApple製品との<br>
        相性がとてもいいです！<br>
      </p>
      <p style="padding-bottom:10px;">
        Apple製品であれば、すべてのデバイスで<br>
        Apple Musicから音楽が聴けますし、不具合や操作不良<br>
        などが起きずらいのも相性がいいポイントです！
      </p>
      <p style="padding-bottom:10px;">
        また、音楽だけでなくミュージックビデオを視聴できたり、<br>
        歌詞から曲を検索することができるなど、便利な機能が<br>
        複数あります。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
</div>

<div class="site-background">
   <h4 class="site-name">④Apple製品との相性が抜群『Apple music』</h4>

    <div class="company-picture-container">
      <img src="/airbnb.jpeg" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        Apple Musicは、Appleがリリースしている音楽アプリだけ<br>
        あって、iPhoneやMac、iPod、iPodなどのApple製品との<br>
        相性がとてもいいです！<br>
      </p>
      <p style="padding-bottom:10px;">
        Apple製品であれば、すべてのデバイスで<br>
        Apple Musicから音楽が聴けますし、不具合や操作不良<br>
        などが起きずらいのも相性がいいポイントです！
      </p>
      <p style="padding-bottom:10px;">
        また、音楽だけでなくミュージックビデオを視聴できたり、<br>
        歌詞から曲を検索することができるなど、便利な機能が<br>
        複数あります。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>

  </div>
</div>