<h2 class="release-stress-message">映画を観てストレスを発散</h2>

<div class="way-picture" >
  <img src="/pexels-photo-3799125.jpeg", class="release-way-picture">
</div>

<div class="message-background">
  <h4 style="padding-bottom: 10px">
  日常の生活に疲れた時には、非日常に没頭し、気分転換しましょう！<br>
  映画館に行って、暗闇の中、大画面で鑑賞することは、気分転換には最適の環境です。<br>
  ただ、近くに映画館がない場合や、過去の映画を観たい場合は、ストリーミングサービスを使ってみてください！
  </h4>
  <h4 style="padding-bottom: 10px">
  サービスによって、配信されている映画が大きく異なるため、自分に合ったサイトを探してみましょう。<br>
  お試し期間が設けられているサイトが多いため、一度登録してみることもオススメです！
  </h4>
  <h4 style="padding-bottom: 10px">
  また、気分転換になるだけではなく、他のページにも記載しておりますが、映画を見て笑ったり泣いたりする<br>
  ことは、ストレス発散の点でとても効果があります。
  </h4>
</div>

<h1 class="release-stress-title">映画を観てストレスを発散するためのサイト</h1>
<div class="site-background">
   <h4 class="site-name">①世界でユーザー数No.1 『Netflix』</h4>

    <div class="company-picture-container">
      <img src="/netflix.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        Netflixは190か国で、1億9千万以上のユーザーが利用している世界トップの<br>
        動画配信サービスです。
      </p>
      <p style="padding-bottom:10px;">
        最大の特徴は、Netflixでのみ視聴可能な、オリジナル作品の<br>
        クオリティが非常に高いところにあります。<br>
        作品によっては莫大な金額のお金をかけているので、迫力も十分あります。<br>
        オリジナル作品を見るためにNetflixを選ぶ方が、非常にたくさんいます。
      </p>
      <p style="padding-bottom:10px;">
        また、国内、国外の映画やドラマの中から、ユーザーそれぞれに合った<br>
        ものをオススメしてくれる機能もあるため、自分に合ったものを<br>
        簡単に見つけることができます。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

<div class="site-background">
   <h4 class="site-name">②Amazonと組み合わせることで、全てがお得に 『Amazon Prime』</h4>

    <div class="company-picture-container">
      <img src="/prime.png" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        プライムビデオは、Amazonのプライム会員が利用できる<br>
        サブスクリプション型のサービスです。
      </p>
      <p style="padding-bottom:10px;">
        プライム会員には年間プランと月間プランがあり、<br>
        前者は年4900円、後者は月500円（いずれも税込）で加入することができます。<br>
        この金額は、他の定額制動画配信サービスと比べても低額であり、<br>
        その上Amazonの他のサービスでも得点が得られます！
      </p>
      <p style="padding-bottom:10px;">
        また、Netflixと同様、Amazon Prime でのみ視聴できるオリジナル<br>
        作品も多数あるため、選ぶ際の基準にしても良いかもしれません。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

<div class="site-background">
   <h4 class="site-name">③ファッションに特化した通販サイト 『映画.com』</h4>

    <div class="company-picture-container">
      <img src="/movie.jpeg" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        ZOZOTOWNでは、有名セレクトショップを中心に、ファストファッションから<br>
        有名ブランドまで、多種多様なファッショングッズを購入することができます。
      </p>
      <p style="padding-bottom:10px;">
        また、カタログ代わりとしても利用することも可能です。<br>
        売れ行きのランキングを見ているだけで、どんな服が流行っているのか、<br>
        どんなコーディネートが流行っているのかをなんとなく知ることができます。<br>
        ランキングは日々変動するため、タイムリーな情報が掲載されています。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>

  <div class="site-background">
   <h4 class="site-name">④ 近年利用者急増のフリマアプリ 『ciatr』</h4>

    <div class="company-picture-container">
      <img src="/ciatr.jpeg" class="company-picture">
    </div>

    <div class="site-intro">
      <p style="padding-bottom:10px;">
        2013年にサービスを開始し、当時はまだ規模が大きくなかった、<br>
        フリーマーケットという分野で急成長をしているサービスです。<br>
        普通の店ではお目にかかれない掘出し物や、ブランドの中古品、<br>
        1点もののハンドメイド品といったバリエーション豊かなアイテムが<br>
        探せる・見つかることが大きな魅力です。
      </p>
      <p style="padding-bottom:10px;">
        また、購入だけでなく、出品もスマホで写真を撮って特徴を入力する<br>
        だけなので、最短3分でできるといわれています。<br>
        そのため、断捨離の際などにも、活用することができます。
      </p>
      <a href="#" class="site-button">公式サイトはこちらから</a>
    </div>
  </div>